[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[dev-packages]

[packages]
networkx = "==2.8.8"
torch = "==2.0.0+cu118"
torchvision = "==0.15.1+cu118"
tensorflow = "==2.4.0"
opencv-python = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
keras = "*"
requests = "*"
pyyaml = "*"
rospkg = "*"
ipython = "*"
scikit-learn = "*"

[requires]
python_version = "3.8"
